package ${packageName};

import ${entity.longClassName};
import ${qo.longClassName};

/**
 * ${table.desc} service 接口
 *
 * Author: Created by code LFM
 * Date: ${date}
 */
public interface ${apiService.shortClassName} {
}
