package ${packageName};

import ${entity.longClassName};
import ${qo.longClassName};
import ${vo.longClassName};

/**
 * ${table.desc} manager 接口
 *
 * Author: Created by code LFM
 * Date: ${date}
 */
public interface ${apiBiz.shortClassName}  {
}
